<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Taco Cloud</title>
<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet/text"/>
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet/text"/>
</head>
<body>
<h1>Welcome to...</h1>
<img alt="Tacos" th:src="@{/images/tacos.jpg}"/>
<script type="text/javascript" src="/js/jquery-3.3.1.min.js" th:href="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
</body>
</html>